*/target/
*/*/target/
*/*/bin/
*/.factorypath
*/*/.factorypath

*/.project
*/*/.project
*/.classpath
*/.settings/
*/*/.settings/



*/.idea/
*/*/.classpath
*/.vscode/
*/logs
*/.history
*/*/.settings
*.iml
